<header class="header">
  <div class="logo">
    <img src="{{ .Site.BaseURL }}img/xalapacode/4oaniv.png.png" alt="Logotipo xalapacode" oncontextmenu="window.location.href = '/identidad'">
  </div>
  <nav class="nav">
    <div class="menu">
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </div>
  </nav>
</header>
